.search-bar-section {
    border: 1px solid black;
    width: 21vw;
    padding: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.search-bar-section >input {
    border: none;
    outline: none;
    cursor: pointer;
}

.home-screen {
    background-color: rgb(165, 193, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.current-weather {
    margin: 10px;
}

.favorites {
    margin: 10px;
}