.search-bar-section {
    border: 1px solid black;
    width: 21vw;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-section >input {
    border: none;
    outline: none;
    cursor: pointer;
}